.main {
  background-image: url("../../../../public/background-1.jpg");
  background-size: cover;
  align-items: flex-start;

  .main-container {
    padding: 2% 5%;
    width: 90%;
    overflow: hidden;
    max-height: 90vh;
    row-gap: 1.2em;
    .header {
      z-index: 1;
      .route-link {
        margin-left: auto;
      }
    }
    .content {
      column-gap: 1.2em;
      .table-card,
      .anthem-card {
        background: linear-gradient(#404040, white 10%, white 95%, #404040);
        padding-bottom: 1.5em;
        padding-top: 1.5em;
      }
      .table-card {
        width: 70%;
        height: min-content;
        max-height: 19em;
        overflow: scroll;        
        .track-table {
          max-height: 10em;
          overflow: scroll;
        }
      }
      .anthem-card {
        width: 30%;
        height: 19em;
        .info-card-header {
          border-color: #1db954;
        }
        .info-card-label {
          background: linear-gradient(to right, white, #1db954, white);
          color: white;
        }
      }
    }
  }
}
