.main {
  align-items: flex-start;

  .main-container {
    padding: 2% 5%;
    width: 90%;
    overflow: hidden;
    max-height: 90vh;
    row-gap: 1.2em;
    .header {
      z-index: 1;
      .route-link {
        margin-left: auto;
        transition: all .3s;
        background-color: #1db954;
        border-radius: .2em;
        padding: .2em;
        padding-left: .5em;
        padding-right: .5em;
        &:hover{
          background-color: #404040;
          color: white;
        }
      }
    }
    .content {
      column-gap: 1.2em;
      .table-card,
      .anthem-card {
        background: linear-gradient(#404040, white 10%, white 95%, #404040);
        padding-bottom: 1.5em;
        padding-top: 1.5em;
      }
      .table-card {
        width: 70%;
        height: min-content;
        max-height: 19em;
        overflow: scroll;        
        .track-table {
          max-height: 10em;
          overflow: scroll;
        }
      }
      .anthem-card {
        width: 30%;
        height: 30%;
        .info-card-header {
          border-color: #1db954;
        }
        .info-card-label {
          color: #404040;
          background: linear-gradient(to right, white, #1db954 15%,#1db954 85%, white);
        }
      }
    }
  }
}
