.spotify-bar {
  padding-right: 5%;
  width: 100%;
  input {
    transition: all 0.3s;
    background-color: #1db954;
    width: 100%;
    color: white;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 2em;
    &:placeholder-shown {
      background-color: white;
      width: 35%;
    }
    &:focus {
      width: 100%;
      background-color: #1db954;
      color: white;
      &::placeholder {
        color: white;
      }
    }
  }
  .extend-wrapper {
    height: 0;
    .table-container {
      height: 12em;
      overflow: scroll;
      .combobox-input{
        select,option{
          background-color: #1db954;
          border: none;
          border-radius: .2em;
          width: 100%;
          cursor: pointer;
          user-select: none;
          padding: .2em;
          padding-left: .5em;
          padding-right: .5em;
        }
        option{
          background-color: #404040;
          color: white;
        }
      }
    }
  }
}
