.table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    user-select: none;
  }
  .header {
    border-width: 0;
    border-bottom: .1em;
    border-style: solid;
    border-color: #1db954;

    th {
      text-align: start;
    }
  }
  .row {
    cursor: pointer;
    
    td {
      padding-top: 0.5em;
    }
  }
  .expand-row{
    transition: all .3s;
    font-size: 0px;
    opacity: 0;
    &.expand{
        font-size: 16px;
        opacity: 1;
    }
  }
}


